---
import { Settings } from 'astro-feather-icons'
import Layout from '../layouts/Layout.astro'
import Button from '../components/Button.astro'
import HomePageImage from '../features/homepage/HomepageImage.astro'
import DesktopImage from '../images/matteo-leoni-desktop.jpg'
import MobileImage from '../images/matteo-leoni-mobile.jpg'

const menuItems = [
	{
		text: 'Gite',
		href: '/blog'
	},
	{
		text: 'Foto',
		href: '/portfolio'
	},
	{
		text: 'Meteo Concenedo',
		href: '/meteo-concenedo'
	},
	{
		text: 'Info & Contatti',
		href: '/contatti'
	},
	{
		text: 'Impostazioni del sito',
		href: '/impostazioni'
	}
]
---

<Layout
	title="Signalkuppe | Parole oltre i 4000m"
	description="Blog personale di Matteo Leoni"
	ogImage="/matteo-leoni-og.jpg"
	ogType="website"
	url="https://www.signalkuppe.com"
>
	<div class="grid">
		<header>
			<h1>Piacere Matteo <span class="hand" aria-hidden="true">👋</span></h1>
		</header>
		<nav>
			<ul>
				{
					menuItems.map((item) => {
						let content = item?.text
						if (item?.href === '/impostazioni') {
							content = (
								<span class="settingsButton">
									<Settings />
									<span>{item?.text}</span>
								</span>
							)
						}
						return (
							<li>
								<Button Element="a" href={item.href}>
									{content}
								</Button>
							</li>
						)
					})
				}
			</ul>
		</nav>
		<main>
			<p>
				Sono un <strong>appassionato di montagna,</strong> Questo blog è un <strong
					>diario di tutte le mie gite,</strong
				> spero possa esservi utile per scoprire nuovi itinerari.
			</p>

			<details>
				<summary>Vuoi saperne di più?</summary>
				<p>
					La <strong>montagna</strong> è la mia grande passione. È stato <strong>mio papà</strong> a
					introdurmi a questo magico mondo e, da allora, non ho mai smesso di cercare nuove
					avventure.
				</p><p>
					Sono un semplice <strong>appassionato di fotografia,</strong>senza alcuna velleità
					professionale. Potete utilizzare tutte le mie foto come volete. Non avete neanche
					l’obbligo di citare la fonte ma un gesto di cortesia verrà apprezzato sicuramente.
				</p><p>
					Ho posizionato una stazione meteo a Concenedo. <br /><a href="/meteo"
						>Qui trovate i dati in diretta</a
					>
				</p><p>
					Lavoro come un <strong>front-end engineer.</strong> Trasformo un design in un’applicazione
					web, con particolare attenzione alla scomposizione in componenti e alle performance.
					Utilizzo principalmente <a href="https://reactjs.org/">React</a>, <a
						href="https://www.figma.com/">Figma</a
					>, <a href="https://storybook.js.org/">Storybook</a> e <a
						href="https://styled-components.com/">Styled Components</a
					> . Amo <a href="https://en.wikipedia.org/wiki/CSS">css,</a> credo sia un linguaggio
					meraviglioso.
				</p><p>
					<a href="https://it.wikipedia.org/wiki/Punta_Gnifetti" rel="noopener">Signalkuppe</a><em>
						— il mio nickname —
					</em> è il nome in tedesco della Punta Gnifetti.
				</p><p>
					Questo sito è stato realizzato con <a
						href="https://github.com/signalkuppe/pequeno"
						title="Pequeno, uno static site generator basato su react">Pequeño</a
					>, uno <strong>static site generator</strong> basato su React che ho sviluppato
					appositamente per il blog. Se volete spulciare il codice sorgente <a
						href="https://github.com/signalkuppe/blog"
						rel="noopener"
						title="Il codice sorgente del blog">lo trovate qui.</a
					>
				</p><p>
					Esiste <a href="http://eepurl.com/dgiWQH">una newsletter</a> per ricevere gli ultimi
					aggiornamenti del sito, e un <a href="https://www.signalkuppe.com/rss.xml">feed rss</a>
					 con l’elenco completo delle relazioni.
				</p><p>
					<a href="/contatti/" rel="noopener">Contattatemi</a> per parlare di un vostro progetto o
					di montagna!
				</p>
			</details>
		</main>
		<aside>
			<HomePageImage mobileImgUrl={MobileImage} desktopImgUrl={DesktopImage} alt="Matteo Leoni" />
		</aside>
	</div>
</Layout>

<style>
	@keyframes handAnimation {
		0% {
			transform: rotate(0deg);
		}
		10% {
			transform: rotate(14deg);
		}
		20% {
			transform: rotate(-8deg);
		}
		30% {
			transform: rotate(14deg);
		}
		40% {
			transform: rotate(-4deg);
		}
		50% {
			transform: rotate(10deg);
		}
		60% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		.hand {
			display: inline-block;
			animation-name: handAnimation;
			animation-duration: 1.2s;
			animation-delay: 1s;
			transform-origin: 70% 70%;
		}
	}
	@media (prefers-reduced-motion: reduce) {
		.hand {
			animation: none;
		}
	}

	p {
		width: 95%;
		max-width: 50ch;
	}

	h1 {
		display: flex;
		align-items: center;
		line-height: 1;
		gap: 0.5rem;
	}

	.hand {
		position: relative;
		top: 0.15rem;
	}

	img {
		background-color: var(--grey);
	}

	.settingsButton {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	nav {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	@media screen and (max-width: 1179px) {
		.grid {
			display: flex;
			flex-direction: column;
			row-gap: 1.5rem;
		}

		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			order: 1;
		}

		aside {
			order: 2;
		}

		main {
			order: 3;
		}

		nav {
			order: 4;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
		}
	}

	@media screen and (min-width: 1180px) {
		.grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: min-content min-content 1fr;
			grid-template-areas:
				'header image'
				'content image'
				'navigation image';
			gap: 1.5rem;
			max-width: 1170px;
			margin: 4rem auto;
		}
		header {
			grid-area: header;
		}

		main {
			grid-area: content;
		}
		aside {
			grid-area: image;
		}
		nav {
			grid-area: navigation;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		li {
			width: fit-content;
		}
	}
</style>
