---
// @ts-nocheck
import Layout from "../layouts/Layout.astro";
import { contentfulClient } from "../lib/contentful";
const query = {
  content_type: "post",
  include: 1,
  order: "-fields.date",
  limit: 5,
  skip: 0,
};
const { items } = await contentfulClient.getEntries(query);
---

<Layout
  title="Signalkuppe - Parole oltre i 4000m"
  description="Blog personale di Matteo Leoni"
  ogImage="/og-image.png"
>
  <h1>Piacere Matteo <span aria-hidden="true">👋</span></h1>
  <p class="lead">
    Sono un appassionato di montagna. Questo sito vuole essere un <a
      href="/blog">diario di tutte le mie uscite,</a
    > spero possa esservi utile per scoprire nuovi itinerari. Vivo a Concenedo, dove
    ho posizionato una stazione meteo, in
    <a
      href="/meteo-concenedo"
      aria-description="Dati meteo in diretta da Concenedo">questa pagina</a
    > trovate i dati in diretta.
  </p>

  <a href="/matteo" class="btn lead-button">Conosciamoci meglio</a>
  <h2>Ultime uscite</h2>
  <ul role="list">
    {
      items.map((item) => (
        <li>
          <article>
            <img
              src={`${item.fields.cover.fields.file.url}?w=200&h=200&fit=thumb&q=90&fm=avif`}
              alt=""
              width="100"
              height="100"
              loading="lazy"
            />
            <div class="article-right">
              <time
                datetime={new Date(item.fields.date).toISOString().slice(0, 19)}
              >
                {new Date(item.fields.date).toLocaleDateString("it-IT")}
              </time>
              <h3>
                <a href={`/${item.fields.slug}`}>{item.fields.title}</a>
              </h3>
              <p>{item.fields.description}</p>
              <p>
                in
                <a href={`/${item.fields.categoty}`} class="category">
                  #{item.fields.category}
                </a>
              </p>
            </div>
          </article>
        </li>
      ))
    }
  </ul>
  <a href="/blog">Tutte le uscite</a>
</Layout>

<style>
  h1 {
    margin-bottom: 1rem;
  }
  .lead {
    text-wrap: pretty;
    max-width: 55ch;
    color: var(--textLight);
    margin-bottom: 1rem;
  }

  .lead-button {
    margin-top: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
  }

  @keyframes handAnimation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    h1 span {
      display: inline-block;
      animation-name: handAnimation;
      animation-duration: 1.2s;
      animation-delay: 1s;
      transform-origin: 70% 70%;
    }
  }

  h2 {
    margin-bottom: 1.5rem;
    border-top: 1px solid var(--outlines);
    padding-top: 2rem;
  }

  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  li {
    border-bottom: 1px solid var(--outlines);
    padding-bottom: 1.5rem;
    width: fit-content;
  }

  li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  article {
    display: flex;
    gap: 1rem;
  }

  article .article-right {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
  }

  article h3 {
    font-size: 1rem;
  }

  article a {
  }
  article a:hover {
    text-decoration: underline;
  }
  article img {
    border-radius: 5px;
    aspect-ratio: 1 / 1;

    flex-shrink: 0;
  }

  article time {
    font-size: 0.75rem;
  }

  article p {
    font-size: 0.85rem;
    max-width: 50ch;
    text-wrap: balance;
    margin-top: 0.25rem;
  }

  article .category {
    font-size: 0.75rem;
    display: inline;
    color: var(--textAccent);
  }
</style>
