---
import { categories } from "../constants";

interface Props {
  post: any;
  TitleTag?: any;
}

const { post, TitleTag = "h2" } = Astro.props;
const categorySlug = categories.find(
  (cat) => cat.title === post.fields.category[0]
)?.slug;
---

<article>
  <img
    src={`${post.fields.cover.fields.file.url}?w=200&h=200&fit=thumb&q=90&fm=avif`}
    alt=""
    width="100"
    height="100"
    loading="lazy"
  />
  <div class="article-right">
    <time datetime={new Date(post.fields.date).toISOString().slice(0, 19)}>
      <span class="visually-hidden">Pubblicato il </span>{
        new Date(post.fields.date).toLocaleDateString("it-IT")
      }
    </time>
    <TitleTag class="title">
      <a href={`/${post.fields.slug}`} data-astro-prefetch
        >{post.fields.title}</a
      >
    </TitleTag>
    <p>{post.fields.description}</p>
    <p>
      in
      <a href={`/blog/${categorySlug}`} class="category">
        <span aria-hidden="true">#</span>{post.fields.category}
      </a>
    </p>
  </div>
</article>

<style media="screen">
  article {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  article .article-right {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
  }

  article .title {
    font-size: 1rem;
    line-height: 1.5;
  }

  article a:hover {
    text-decoration: underline;
  }
  article img {
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    background: var(--surfaceAccent);
  }

  article time {
    font-size: 0.75rem;
  }

  article p {
    font-size: 0.85rem;
    max-width: 50ch;
    text-wrap: balance;
    margin-top: 0.25rem;
  }

  article .category {
    font-size: 0.75rem;
    display: inline;
    color: inherit;
  }

  article .category:hover {
    color: var(--textAccent);
  }
</style>
