---
import { Image } from "astro:assets";
import { categories } from "../constants";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
  TitleTag?: any;
}

const { post, TitleTag = "h2" } = Astro.props;
const categorySlug = categories.find(
  (cat) => cat.title === post.data.category[0],
)?.slug;
---

<article>
  <Image
    src={post.data.cover.src}
    alt={post.data.cover.alt}
    widths={[100, 150, 200, 400, 600, 800]}
    sizes="(max-width: 30rem) 100px, (max-width: 60rem) 120px, 600px"
    loading="lazy"
    class="post-cover"
  />
  <div class="article-body">
    <time datetime={post.data.date.toISOString().slice(0, 19)}>
      <span class="visually-hidden">Pubblicato il </span>{
        post.data.date.toLocaleDateString("it-IT")
      }
    </time>
    <TitleTag class="title">
      <a href={`/${post.slug}`} class="post-link" data-astro-prefetch
        >{post.data.title}</a
      >
    </TitleTag>
    <p class="abstract">{post.data.description}</p>
    <p>
      <a
        href={`/blog/${categorySlug}`}
        class="category"
        aria-label={`Categoria: ${post.data.category}`}
      >
        <span aria-hidden="true">#</span>{post.data.category}
      </a>
    </p>
  </div>
</article>

<style media="screen">
  article {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
  }

  article a.post-link:after {
    content: "";
    position: absolute;
    inset: 0;
  }

  @media (hover: hover) {
    article:hover img {
      outline: 4px solid var(--textAccent);
    }
  }

  article .article-body {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
  }

  article .title {
    font-size: 1.15rem;
    line-height: 1.5;
  }

  .title a {
    color: var(--textAccent);
  }

  article img {
    background: var(--surfaceAccent);
  }

  article img.post-cover {
    display: block;
    border-radius: 5px;
    flex-shrink: 0;
    object-fit: cover;
    width: 120px;
    height: 120px;
    aspect-ratio: 1 / 1;
  }

  @media screen and (width < 30rem) {
    article img.post-cover {
      width: 100px;
      height: 100px;
    }
  }

  article time {
    font-size: 0.85rem;
  }

  article .abstract {
    font-size: 0.85rem;
    max-width: 50ch;
    text-wrap: balance;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }

  article a.category {
    font-size: 0.65rem;
    display: inline-block;
    color: inherit;
    position: absolute;
  }

  article .category:hover {
    color: var(--textAccent);
  }

  @media screen and (width > 60rem) {
    article {
      flex-direction: column;
    }
    article img.post-cover {
      width: 100%;
      height: auto;
      aspect-ratio: 4 / 3;
      max-width: 600px;
    }
  }

  @media screen and (width > 80rem) {
    article img.post-cover {
      max-width: 500px;
    }
  }
</style>
