---
import "photoswipe/dist/photoswipe.css";
import { Image } from "astro:assets";
import PhotoDisclaimer from "./PhotoDisclaimer.astro";

interface Props {
  gallery: Array<{
    src: ImageMetadata;
    alt: string;
  }>;
  postSlug: string;
}

const { gallery, postSlug } = Astro.props;
---

<ul id="post-gallery">
  {
    gallery.map((photo, index) => (
      <li>
        <a
          href={photo.src.src}
          data-download={photo.src.src}
          data-pswp-src={photo.src.src}
          data-pswp-width={photo.src.width}
          data-pswp-height={photo.src.height}
          data-pswp-srcset={`${photo.src.src}?w=1200 1000w, ${photo.src.src}?w=2000 2000w`}
        >
          <Image
            src={photo.src}
            alt={photo.alt}
            widths={[300, 600]}
            quality={60}
            loading="lazy"
            decoding="async"
          />
        </a>
      </li>
    ))
  }
</ul>
<p class="disclaimer">
  <PhotoDisclaimer />
</p>

<script>
  //@ts-nocheck
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import PhotoSwipe from "photoswipe";
  document.addEventListener("DOMContentLoaded", () => {
    const lightbox = new PhotoSwipeLightbox({
      gallery: "#post-gallery",
      children: "a",
      pswpModule: PhotoSwipe,
      showHideAnimationType: "zoom",
      showAnimationDuration: 500,
      hideAnimationDuration: 500,
      bgOpacity: 0.9,
    });
    lightbox.on("uiRegister", function () {
      lightbox.pswp.ui.registerElement({
        name: "download-button",
        order: 8,
        isButton: true,
        tagName: "a",
        html: {
          isCustomSVG: true,
          inner:
            '<path d="M20.5 14.3 17.1 18V10h-2.2v7.9l-3.4-3.6L10 16l6 6.1 6-6.1ZM23 23H9v2h14Z" id="pswp__icn-download"/>',
          outlineID: "pswp__icn-download",
        },

        onInit: (el, pswp) => {
          el.setAttribute("download", "");
          el.setAttribute("target", "_blank");
          el.setAttribute("rel", "noopener");

          pswp.on("change", () => {
            el.href = pswp.currSlide.data.element.getAttribute("data-download");
          });
        },
      });
      lightbox.pswp.ui.registerElement({
        name: "custom-caption",
        order: 9,
        isButton: false,
        appendTo: "root",
        html: "Caption text",
        onInit: (el, pswp) => {
          lightbox.pswp.on("change", () => {
            const currSlideElement = lightbox.pswp.currSlide.data.element;
            let captionHTML = "";
            if (currSlideElement) {
              captionHTML = currSlideElement
                .querySelector("img")
                .getAttribute("alt");
            }
            el.innerHTML = captionHTML || "";
          });
        },
      });
    });
    lightbox.init();
  });
</script>

<style media="screen">
  img {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--surfaceAccent);
  }

  .disclaimer {
    font-size: 0.75rem;
    margin-top: 2.5rem;
    max-width: 70ch;
  }

  ul {
    --space: calc(1.5rem - 3px);
    display: block;
    columns: 2;
    column-gap: var(--space);
  }
  li {
    margin-bottom: var(--space);
    break-inside: avoid;
  }

  @media screen and (width > 40rem) {
    ul {
      columns: 3;
    }
  }

  @media screen and (width > 70rem) {
    ul {
      columns: 4;
    }
  }

  :global(.pswp__custom-caption) {
    background: black;
    font-size: 16px;
    color: white;
    width: fit-content;
    padding: 2px 8px;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    text-align: center;
  }

  a {
    display: block;
    border: 3px solid transparent;
  }

  a:hover {
    border: 3px solid var(--textAccent);
  }
</style>
