---
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata;
  alt: string;
}

const { src, alt } = Astro.props;
const inlineMaxWidth = Math.min(src.width, 1400);
const inlineSizes =
  "(max-width: 720px) calc(100vw - 3rem), (max-width: 1200px) 90vw, 1100px";
const inlineWidths = [640, 960, 1200, 1400, inlineMaxWidth]
  .filter((width) => width <= inlineMaxWidth)
  .filter((width, index, arr) => arr.indexOf(width) === index)
  .sort((a, b) => a - b);
---

<picture>
  <Image
    src={src}
    alt={alt}
    width={inlineMaxWidth}
    sizes={inlineSizes}
    widths={inlineWidths}
    quality={65}
    priority
  />
</picture>
{
  alt && (
    <p class="img-caption" aria-hidden="true">
      {alt}
    </p>
  )
}

<style>
  .img-caption {
    font-size: 0.75rem;
    margin-top: 0.4rem;
    text-align: right;
  }
</style>
