---
import "leaflet/dist/leaflet.css";
import { getData } from "../../../../lib/contentful";
import { categories, defaultOgImage, siteTitle } from "../../../../constants";
import Spinner from "../../../../components/Spinner.astro";
import BlogCategories from "../../../../components/BlogCategories.astro";
import Pager from "../../../../components/Pager.astro";
import Layout from "../../../../layouts/Layout.astro";
import BlogLayout from "../../../../layouts/BlogLayout.astro";
import { headPageTitle } from "../../../../lib/utils";

interface Props {
  page: any;
}

const { page } = Astro.props;
const { category, page: categoryPage } = Astro.params;

export async function getStaticPaths({ paginate }) {
  const { post: posts } = await getData({ type: "post", sort: "-fields.date" });
  return [undefined, ...categories].flatMap((cat) => {
    const filteredPosts = posts.filter((post) => {
      return cat ? post.fields.category[0] === cat.title : true;
    });
    const output = filteredPosts.map((p) => ({
      ...p,
      postsCount: filteredPosts.length,
    }));

    return paginate(output, {
      params: { category: cat?.slug },
      pageSize: 1000,
    });
  });
}

let pageTitle = "Mappa delle uscite";

if (category) {
  const c = categories.find((c) => c.slug === category);
  if (c) {
    pageTitle = `${pageTitle}, ${categories.find((c) => c.slug === category)?.title}`;
  }
}
---

<Layout
  title={headPageTitle(pageTitle, siteTitle)}
  description="Mappa delle uscite"
  ogImage={defaultOgImage}
>
  <Fragment slot="head">
    <link rel="preconnect" href="https://tile.thunderforest.com/" crossorigin />
  </Fragment>
  <BlogLayout pageTitle={pageTitle} activeTab="mappa">
    <div slot="left">
      <div class="map-container">
        <section
          id="map"
          aria-abel="Mappa"
          data-markers={JSON.stringify(
            page.data.map((post) => ({
              id: post.sys.id,
              title: post.fields.title,
              description: post.fields.description,
              slug: post.fields.slug,
              category: post.fields.category[0],
              lat: post.fields.location.lat,
              lon: post.fields.location.lon,
              image: {
                url: post.fields.cover.fields.file.url,
              },
            }))
          )}
        >
          <Spinner size="2rem" />
        </section>
      </div>

      <p class="count">{page.data[0].postsCount} Relazioni</p>
    </div>
    <nav aria-label="categorie" class="post-categories" slot="right">
      <BlogCategories activeCategory={category} isMap />
    </nav>
  </BlogLayout>
</Layout>

<script>
  import L from "leaflet";
  import "leaflet-fullscreen";
  const mapDiv = document.getElementById("map");
  const zoom = 7;
  const lat = 45.7929;
  const lng = 9.0;
  const mymap = L.map("map", {
    tap: false,
    attributionControl: false,
    zoomControl: false,
    fullscreenControl: {
      position: "topright",
    },
  });

  const markers = JSON.parse(mapDiv.dataset.markers);

  mymap.setView([lat, lng], zoom);

  L.tileLayer(
    "https://tile.thunderforest.com/outdoors/{z}/{x}/{y}.png?apikey=f890f7037bd243ee9602a36c56fc6dc2",
    {
      attribution:
        '&copy; <a href="http://www.thunderforest.com/">Thunderforest</a>, &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      apikey: "f890f7037bd243ee9602a36c56fc6dc2",
      maxZoom: 22,
    }
  ).addTo(mymap);
  L.control
    .zoom({
      position: "topright",
    })
    .addTo(mymap);
  mymap.scrollWheelZoom.disable();

  mymap.on("fullscreenchange", function () {
    if (!document.fullscreenElement) {
      if (mymap.isFullscreen()) {
        mapDiv.classList.add("fullscreen");
        mapDiv.style.height = `${window.innerHeight}px`;
        mymap.invalidateSize();
      } else {
        mapDiv.classList.remove("fullscreen");
        mapDiv.style.height = "";
      }
    }
  });

  markers.forEach(function (marker) {
    const customIcon = L.divIcon({
      html: `
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 256 256">
          <g style="stroke:none;stroke-width:0;stroke-dasharray:none;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;fill:none;fill-rule:nonzero;opacity:1" transform="matrix(2.81 0 0 2.81 1.407 1.407)">
            <path d="M45 90C30.086 71.757 15.174 46.299 15.174 29.826S28.527 0 45 0s29.826 13.353 29.826 29.826S59.914 71.757 45 90z" style="stroke:none;stroke-width:1;stroke-dasharray:none;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;fill:#dc2028;fill-rule:nonzero;opacity:1"/>
            <circle cx="45" cy="29.38" r="13.5" style="stroke:none;stroke-width:1;stroke-dasharray:none;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;fill:#fff;fill-rule:nonzero;opacity:1"/>
            <path d="M48.596 5.375C33.355 5.375 21 17.73 21 32.97c0 1.584.141 3.135.397 4.646A24.952 24.952 0 0 1 20 29.375c0-13.807 11.193-25 25-25 2.889 0 5.661.496 8.242 1.397a27.786 27.786 0 0 0-4.646-.397z" style="stroke:none;stroke-width:1;stroke-dasharray:none;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;fill:#e74d46;fill-rule:nonzero;opacity:1"/>
          </g>
        </svg>
      `,
    }); // use custom div for icons

    const popupHtml = `
            <div class="popup-wrapper">
              <img width="80" height="80" src="${marker.image.url}?w=200&h=200&fit=thumb&q=90&fm=avif" alt="" />
              <div class="popup-right">
                <a href="/${marker.slug}" class="popup-title">${marker.title}</a>
                <p>${marker.description}</p>
              </div>
             
            </div>
        `;
    const mk = L.marker([marker.lat, marker.lon], {
      icon: customIcon,
    })
      .addTo(mymap)
      .bindPopup(popupHtml);

    mk.on("click", function () {
      mk._icon.classList.add("is-selected");
    });
  });
</script>

<style>
  .post-pager {
    margin-top: 3rem;
  }
  .count {
    margin-top: 1rem;
    font-size: 0.85rem;
  }

  @media screen and (width < 60rem) {
    .map-container {
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
    }
  }
</style>
<style is:global>
  /** leaflet overrides */
  #map {
    width: 100%;
    height: 70svh;
    background: var(--surfaceAccent);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #map.fullscreen {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 100 !important;
  }

  #map.fullscreen .leaflet-pane[style] {
    z-index: 100 !important;
  }

  #map.fullscreen .leaflet-right {
    z-index: 100 !important;
  }

  .leaflet-pane[style],
  .leaflet-right {
    z-index: 0 !important;
  }

  .leaflet-right {
    right: 32px !important;
    top: 16px !important;
  }

  .leaflet-right .leaflet-control {
    margin-right: 0 !important;
  }

  .leaflet-control-fullscreen a {
    background: #fff url("/images/fullscreen@2x.png") no-repeat 2px 2px;
    background-size: 26px 52px;
  }

  #map.fullscreen .leaflet-control-fullscreen a {
    background-position: 2px -24px;
  }

  .leaflet-div-icon[style] {
    border: none;
    background: none;
    width: 1.25rem !important;
    height: 1.25rem !important;
  }

  .leaflet-popup-content-wrapper {
    border-radius: 5px !important;
  }

  .leaflet-popup-content {
    font-family: var(--fontFamily) !important;
    margin: 0 !important;
    color: black;
    width: max-content !important;
  }

  .leaflet-popup-content a {
    color: inherit;
    font-weight: bold;
  }

  .leaflet-container a.leaflet-popup-close-button {
    color: black;
    font-size: 1rem;
    right: 0.25rem;
    top: 0.25rem;
  }

  .popup-wrapper {
    display: flex;
    gap: 0.85rem;
    padding: 0.85rem;
    max-width: 20rem;
  }

  .popup-right {
    margin-right: 1rem;
  }
  .popup-wrapper img {
    border-radius: 5px;
    display: block;
    aspect-ratio: 1 / 1;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    background: #eee;
  }

  .popup-title {
    text-wrap: balance;
  }
  .popup-wrapper p {
    font-size: 0.65rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: #666;
  }
</style>
