---
import GlobalStyles from "../components/GlobalStyles.astro";
import ThemeSwitcherScript from "../components/ThemeSwitcher/ThemeSwitcherScript.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BodyBackground from "../components/BodyBackground.astro";
const url = Astro.url.pathname;

interface Props {
  title: string;
  description: string;
  ogImage: string;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="it" id="top">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Signalkuppe" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="og:title" content={title} />
    <meta name="twitter:title" content={title} />
    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content={ogImage} />
    <meta name="og:image" content={ogImage} />
    <meta name="og:url" content={`https://www.signalkuppe.com${url}`} />
    <link
      rel="preload"
      href="/fonts/Atkinson-Hyperlegible-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Atkinson-Hyperlegible-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>{title}</title>
    <slot name="head" />
    <GlobalStyles />
    <ThemeSwitcherScript />
  </head>
  <body>
    <a href="#main" class="visually-hidden skip-link"
      >Vai al contenuto principale</a
    >
    <div class="wrapper" id="js-wrapper">
      <Header id="js-header" class="cage header" />
      <main id="js-main" class="main cage" tabindex="-1">
        <slot />
      </main>
      <Footer id="js-footer" class="cage footer" />
    </div>
    <BodyBackground class="svg-background" aria-hidden="true" />
  </body>
</html>

<style>
  .wrapper {
    position: relative;
    z-index: 2;
  }

  .header {
    padding-block: 1.5rem;
  }
  main {
    padding-top: 2rem;
    padding-bottom: 10rem;
  }

  .footer {
    padding-bottom: 6rem;
  }

  .svg-background {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
  }
</style>
