---
import GlobalStyles from "../components/GlobalStyles.astro";
import ThemeSwitcherScript from "../components/ThemeSwitcher/ThemeSwitcherScript.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BodyBackground from "../components/BodyBackground.astro";
const url = Astro.url.pathname;

interface Props {
  title: string;
  description: string;
  ogImage: string;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="it" id="top">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Signalkuppe" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="og:title" content={title} />
    <meta name="twitter:title" content={title} />
    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content={ogImage} />
    <meta name="og:image" content={ogImage} />
    <meta name="og:url" content={`https://www.signalkuppe.com${url}`} />
    <link
      rel="preload"
      href="/fonts/Atkinson-Hyperlegible-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Atkinson-Hyperlegible-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>{title}</title>
    <slot name="head" />
    <GlobalStyles />
    <ThemeSwitcherScript />
  </head>
  <body>
    <a href="#main" class="visually-hidden skip-link"
      >Vai al contenuto principale</a
    >
    <header id="header">
      <div class="cage">
        <Header />
      </div>
    </header>

    <main id="main" tabindex="-1">
      <slot />
    </main>
    <footer id="footer">
      <div class="cage"><Footer /></div>
      <BodyBackground class="svg-background" aria-hidden="true" />
    </footer>
  </body>
</html>

<style>
  header {
    padding-block: 1.5rem;
    position: sticky;
    top: -1px;
    z-index: 2;
    backdrop-filter: blur(10px);
    overflow-x: clip;
  }

  header.remove-sticky {
    position: static;
  }

  main {
    padding-top: 2rem;
    padding-bottom: 10rem;
  }

  footer {
    padding-bottom: 6rem;
  }

  .svg-background {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
  }

  .skip-link:focus {
    z-index: 4;
  }
</style>

<script>
  const header = document.getElementById("header");
  document.body.addEventListener(
    "remove-sticky-header",
    (e) => {
      header.classList.add("remove-sticky");
    },
    false
  );
  document.body.addEventListener(
    "restore-sticky-header",
    (e) => {
      header.classList.remove("remove-sticky");
    },
    false
  );
</script>
