---
import { ViewTransitions } from 'astro:transitions'
import CssReset from '../components/CssReset.astro'
import CssBaseStyles from '../components/CssBaseStyles.astro'
import DetectDarkMode from '../components/DetectDarkMode.astro'

interface Props {
	title: string
	description: string
	url: string
	ogType: string
	ogImage: string
	children: any
	actionButton?: any
}

const { title, description, url, ogType, ogImage, actionButton } = Astro.props
---

<!doctype html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="og:title" content={title} />
		<meta name="twitter:title" content={title} />
		<meta name="description" content={description} />
		<meta name="og:description" content={description} />
		<meta name="twitter:description" content={description} />
		<meta name="og:type" content={ogType} />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:image" content={ogImage} />
		<meta name="og:image" content={ogImage} />
		<meta name="og:url" content={url} />
		<title>{title}</title>
		<DetectDarkMode />
		<ViewTransitions />
	</head>
	<body>
		<slot />
		<CssReset />
		<CssBaseStyles />
		{
			Astro.slots.has('actionButton') && (
				<div>
					<slot name="actionButton" />
				</div>
			)
		}

		<style>
			@keyframes actionAnimation {
				0% {
					transform: translate3d(100%, 0, 0);
				}
				100% {
					transform: translate3d(0, 0, 0);
				}
			}
			body {
				padding: 1.5rem 1.5rem 4rem 1.5rem;
			}
			div {
				position: fixed;
				right: 0;
				top: 0;
				animation-name: actionAnimation;
				animation-duration: 0.2s;
				animation-delay: 1s;
				animation-fill-mode: backwards;
			}
		</style>
	</body>
</html>
