---
const url = Astro.url;
import GlobalStyles from "../components/GlobalStyles.astro";
import ThemeSwitcherScript from "../components/ThemeSwitcher/ThemeSwitcherScript.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
  ogImage: string;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="it" id="top">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Signalkuppe" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="og:title" content={title} />
    <meta name="twitter:title" content={title} />
    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content={ogImage} />
    <meta name="og:image" content={ogImage} />
    <meta name="og:url" content={url} />
    <title>{title}</title>
    <GlobalStyles />
    <ThemeSwitcherScript />
  </head>
  <body>
    <a href="#main" class="visually-hidden skip-link"
      >Vai al contenuto principale</a
    >
    <div class="wrapper">
      <Header />
      <main id="main" class="main" tabindex="-1">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
<style>
  .wrapper {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1.5rem 1.5rem 6rem 1.5rem;
  }
  main {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  .skip-link:focus-visible {
    display: block;
    padding: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: var(--background);
  }
</style>
