---
interface Props {
	title: string
	description: string
	url: string
	ogType: string
	ogImage: string
}

const { title, description, url, ogType, ogImage } = Astro.props
import CssReset from '../components/CssReset.astro'
import CssUtilities from '../components/CssUtilities.astro'
import CssBaseStyles from '../components/CssBaseStyles.astro'
---

<!doctype html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="og:title" content={title} />
		<meta name="twitter:title" content={title} />
		<meta name="description" content={description} />
		<meta name="og:description" content={description} />
		<meta name="twitter:description" content={description} />
		<meta name="og:type" content={ogType} />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:image" content={ogImage} />
		<meta name="og:image" content={ogImage} />
		<meta name="og:url" content={url} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<CssReset />
<CssBaseStyles />
<CssUtilities />

<style>
	body {
		max-width: 65ch;
		margin: 0 auto;
		padding: 1.5rem;
	}
</style>
