---
import { portfolioPhotoSlug } from "../../lib/utils";
import { getData } from "../../lib/contentful";
import Layout from "../../layouts/Layout.astro";
import ResponsiveImage from "../../components/ResponsiveImage.astro";
import Pager from "../../components/Pager.astro";
import PhotoDisclaimer from "../../components/PhotoDisclaimer.astro";

export async function getStaticPaths({ paginate }) {
  const { portfolio: photos } = await getData({
    type: "portfolio",
    sort: "-fields.date",
  });

  return paginate(photos, {
    pageSize: 12,
  });
}

interface Props {
  page?: any;
}

const { page } = Astro.props;

let pageTitle = "Portfolio";

if (page.currentPage > 1) {
  pageTitle = `${pageTitle}, pagina ${page.currentPage}`;
}

const description = "Una raccolta delle mie foto più belle";
---

<Layout
  title={`${pageTitle} - Signalkuppe`}
  description={description}
  ogImage="/og-image.jpg"
>
  <Fragment slot="head">
    <link rel="preconnect" href="https://images.ctfassets.net/" crossorigin />
  </Fragment>

  <div class="cage title">
    <h1>{pageTitle}</h1>
    <p>{description}</p>
  </div>

  <div class="container">
    <ul>
      {
        page.data
          .filter((photo) => photo?.fields?.title)
          .map((photo) => {
            const imgUrl = photo.fields.photo.fields.file.url;
            return (
              <li>
                <a href={portfolioPhotoSlug(photo)} data-astro-prefetch>
                  <ResponsiveImage
                    src={`${imgUrl}?w=1280&q=50&fm=avif`}
                    sizes={{
                      "600": `${photo}?w=400&q=50&fm=avif`,
                    }}
                    alt={photo.fields.photo.fields.title || ""}
                    loading="lazy"
                    width={photo.fields.photo.fields.file.details.image.width}
                    height={photo.fields.photo.fields.file.details.image.height}
                  />
                  <div class="caption">
                    <time
                      datetime={new Date(photo.fields.date)
                        .toISOString()
                        .slice(0, 19)}
                    >
                      <span class="visually-hidden">Scattata il </span>
                      {new Date(photo.fields.date).toLocaleDateString("it-IT")}
                    </time>
                    <h2 aria-hidden="true">
                      {photo.fields.photo.fields.title}
                    </h2>
                  </div>
                </a>
              </li>
            );
          })
      }
    </ul>
    <div class="cage bottom">
      <nav aria-label="Pagine">
        <Pager page={page} />
      </nav>
      <p class="disclaimer"><PhotoDisclaimer /></p>
    </div>
  </div>

  <style media="screen">
    .title {
      margin-bottom: 2rem;
    }
    .container {
      --space: 1.5rem;
      padding: var(--space);
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: var(--space);
    }

    a {
      text-decoration: none;
      position: relative;
      display: block;
      width: 100%;
      background: linear-gradient(-45deg, var(--surface), var(--surfaceAccent));
      background-size: 400% 400%;
    }

    a:hover .caption {
      background: rgba(0, 0, 0, 1);
    }

    .caption {
      position: absolute;
      left: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      padding: 0.5rem 1rem;
      transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      color: white;
    }

    time {
      font-size: 0.85rem;
    }

    h2 {
      font-size: 1rem;
      line-height: 1.2;
      color: inherit;
    }

    img {
      grid-area: 1 / 1;
    }

    .bottom {
      margin: 8rem auto 4rem auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .disclaimer {
      margin-top: 3rem;
      max-width: 70ch;
      font-size: 0.75rem;
    }

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      a {
        animation: gradient 2s ease infinite;
      }
    }

    @media screen and (width > 30rem) {
      ul {
        display: block;
        columns: 2;
        column-gap: var(--space);
      }
      li {
        margin-bottom: var(--space);
        break-inside: avoid;
      }
    }

    @media screen and (width > 60rem) {
      ul {
        columns: 3;
      }
    }
  </style>

  <script>
    import { emitter } from "../../lib/utils";
    document.addEventListener("DOMContentLoaded", () => {
      emitter.emit("header-background-change", true);
    });
  </script>
</Layout>
