---
import { getData } from "../../../lib/contentful";
import { categories, defaultOgImage, siteTitle } from "../../../constants";
import Layout from "../../../layouts/Layout.astro";
import BlogLayout from "../../../layouts/BlogLayout.astro";
import BlogCategories from "../../../components/BlogCategories.astro";
import Pager from "../../../components/Pager.astro";
import PostCard from "../../../components/PostCard.astro";
import { headPageTitle } from "../../../lib/utils";

interface Props {
  page: any;
}

const { page } = Astro.props;
const { category, page: categoryPage } = Astro.params;

export async function getStaticPaths({ paginate }) {
  const { post: posts } = await getData({ type: "post", sort: "-fields.date" });
  return [undefined, ...categories].flatMap((cat) => {
    const filteredPosts = posts.filter((post) => {
      return cat ? post.fields.category[0] === cat.title : true;
    });
    const output = filteredPosts.map((p) => ({
      ...p,
      postsCount: filteredPosts.length,
    }));

    return paginate(output, {
      params: { category: cat?.slug },
      pageSize: 12,
    });
  });
}

let pageTitle = "Tutte le uscite";

if (category) {
  const c = categories.find((c) => c.slug === category);
  if (c) {
    pageTitle = categories.find((c) => c.slug === category)?.title;
  }
}

if (page.currentPage > 1 || categoryPage > 1) {
  pageTitle = `${pageTitle}, pagina ${page.currentPage || categoryPage}`;
}
---

<Layout
  title={headPageTitle(pageTitle, siteTitle)}
  description="Elenco completo di tutte le uscite"
  ogImage={defaultOgImage}
>
  <BlogLayout pageTitle={pageTitle} activeTab="elenco">
    <div slot="left">
      <ul role="list" class="post-list">
        {
          page.data.map((post) => (
            <li>
              <PostCard post={post} />
            </li>
          ))
        }
      </ul>
      <nav aria-label="Pagine" class="post-pager">
        <Pager page={page} />
        <p class="count">{page.data[0].postsCount} Relazioni</p>
      </nav>
    </div>
    <nav aria-label="categorie" class="post-categories" slot="right">
      <BlogCategories activeCategory={category} />
    </nav>
  </BlogLayout>
</Layout>

<style media="screen">
  .post-pager {
    margin-top: 3rem;
  }
  .count {
    margin-top: 1rem;
    font-size: 0.85rem;
  }

  @media screen and (width < 40rem) {
    .post-list {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      margin-bottom: 8rem;
    }
  }

  @media screen and (width > 40rem) {
    .post-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;
      row-gap: 5rem;
      margin-bottom: 8rem;
    }
  }

  @media screen and (width > 60rem) {
    .post-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
