---
import { getPosts } from "../../../lib/contentful";
import { categories } from "../../../constants";
import Layout from "../../../layouts/Layout.astro";
import BlogTabs from "../../../components/BlogTabs.astro";
import BlogCategories from "../../../components/BlogCategories.astro";
import BlogPager from "../../../components/BlogPager.astro";
import PostCard from "../../../components/PostCard.astro";

interface Props {
  page: any;
}

const { page } = Astro.props;
const { category, page: categoryPage } = Astro.params;

export async function getStaticPaths({ paginate }) {
  const { posts } = await getPosts();
  return [undefined, ...categories].flatMap((cat) => {
    const filteredPosts = posts.filter((post) => {
      return cat ? post.fields.category[0] === cat.title : true;
    });

    return paginate(filteredPosts, {
      params: { category: cat?.slug },
      pageSize: 12,
    });
  });
}

let pageTitle = "Tutte le uscite";

if (category) {
  const c = categories.find((c) => c.slug === category);
  if (c) {
    pageTitle = categories.find((c) => c.slug === category)?.title;
  }
}

if (page.currentPage > 1 || categoryPage > 1) {
  pageTitle = `${pageTitle}, pagina ${page.currentPage || categoryPage}`;
}
---

<Layout
  title={`${pageTitle} - Signalkuppe`}
  description="Blog personale di Matteo Leoni"
  ogImage="/og-image.png"
>
  <h1 class="visually-hidden">{pageTitle}</h1>
  <div class="tabs-parent">
    <nav aria-label="Visualizzazione">
      <BlogTabs activeTab="elenco" />
    </nav>
  </div>

  <div class="cage">
    <div class="container">
      <ul role="list" class="post-list">
        {
          page.data.map((post) => (
            <li>
              <PostCard post={post} />
            </li>
          ))
        }
      </ul>

      <nav aria-label="categorie" class="post-categories">
        <BlogCategories activeCategory={category} />
      </nav>
    </div>

    <nav aria-label="Pagine" class="post-pager">
      <BlogPager page={page} />
    </nav>
  </div>
</Layout>

<style>
  .pager {
    display: flex;
    align-items: center;
    gap: 0.85rem;
  }
  .pager .icon-button {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border: var(--surfaceAccent);
  }
  .pager .icon-button svg {
    width: 1em;
  }

  .pager [aria-current="page"] {
    color: var(--textAccent);
    font-weight: bold;
  }

  h2 {
    text-transform: uppercase;
    font-size: 0.85rem;
    color: var(--text);
    margin-bottom: 1rem;
  }

  .tabs-parent {
    position: sticky;
    z-index: 2;
    top: 0;
    padding-top: 1.5rem;
    margin-top: -1.5rem;
    background: var(--surface);
  }

  .container {
    padding-top: 4rem;
    display: flex;
  }

  .post-list {
    margin-bottom: 2rem;
    display: grid;
    row-gap: 1.5rem;
    column-gap: 3rem;
  }

  .post-list li {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }

  @media screen and (width < 60rem) {
    .container {
      flex-direction: column;
    }

    .post-pager {
      margin-top: 3rem;
    }
  }

  @media screen and (width > 60rem) {
    .container {
      flex-direction: row;
      align-items: flex-start;
      gap: 3rem;
    }
    .post-list {
      grid-template-columns: repeat(2, 1fr);
      flex: 3;
    }
    .post-categories {
      flex: 1;
      position: sticky;
      top: 6rem;
      z-index: 1;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const header = document.getElementById(`header`);
    const observer = new IntersectionObserver(
      ([e]) => {
        if (e.intersectionRatio < 1) {
          document.body.dispatchEvent(new CustomEvent("remove-sticky-header"));
        } else {
          document.body.dispatchEvent(new CustomEvent("restore-sticky-header"));
        }
      },
      { threshold: [1] }
    );

    observer.observe(header);
  });
</script>
